/* src/styles/TestimonialCard.css */
.testimonial-card {
    border: 1px solid #48bb78;
    padding: 20px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
  }
  
  .testimonial-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .testimonial-card h2 {
    font-size: 18px;
    color: #2f855a;
  }
  
  .testimonial-card p {
    font-style: italic;
  }
  